Copyright © <%= moment().year() %> - <%- config.author %><br>
Desarrollado con <a href="https://github.com/tommy351/hexo">Hexo</a> y alojado en <a href="http://github.com/">Github</a><br>❤<br>
Nota legal: Las opiniones expresadas en el presente blog son mis opiniones personales y bajo ningún modo representan la opinión de mi empleador<br>