// greyshade = #1dbbd6;
greyshade = #dd4814
// color-background = #3D4349;
color-background = #f5f8fa;
color-midcol = #ffffff;
color-midcol-border = #e1e8ed;
// color-main = #258fb8;
color-main = #77216F;
color-gray01 = #666;
// color-gray02 = #999;
color-gray02 = #77216F;
color-gray03 = #ccc;
color-gray04 = #ddd;
color-gray05 = #fff;
codeblock-bg = #f8f8ff;
// codeblock-border = #dedede;
codeblock-border = #e1e8ed;