@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/DZ_YjBPqZ88vcZCcIXm6VobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OMD20Sg9RTs7sUORCEN-7YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

// @import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400');
// @import url('http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');
// @import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');
// font-default = "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
// font-mono = Menlo, Monaco, "Source Code Pro", "Andale Mono", "lucida console", "Courier New", monospace

@import url('http://fonts.googleapis.com/css?family=Inconsolata');
font-default = Ubuntu, sans-serif
font-mono = Inconsolata, monospace
font-serif = "Georgia", serif

font-icon = FontAwesome
// font-icon-path = "/fonts/fontawesome-webfont"

// @font-face {
// 	font-family 'FontAwesome'
// 	font-weight normal
// 	font-style normal
// 	src url(font-icon-path.eot)
// 	src url(font-icon-path.eot?#iefix) format('embedded-opentype'),
//   url(font-icon-path.woff) format('woff'),
//   url(font-icon-path.ttf) format('truetype'),
// 	url(font-icon-path.svg#FontAwesomeRegular) format('svg'),
// 	url(font-icon-path.svg#FontAwesomeRegular) format('svg')
// }